@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --primary-color: black;
  --secondary-color: #F0F0F0;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.gaseok {
  font-family: "Gasoek", sans-serif;
}