@import url("https://fonts.googleapis.com/css2?family=Gasoek+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --primary-color: black;
  --secondary-color: #f0f0f0;

  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Gasoek", serif;
}

html,
body {
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}


